* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(90deg, #232323, #585858);
}

.menu-navegacao{
    text-align: center;
    padding: 2rem;
}

.menu-navegacao a{
    margin: 1rem;
    color: #00E57A;
    text-decoration: none;
}

.menu-navegacao a:hover{
    background: #00E57A;
    color: #000;
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 12px;
}

.container{
    width: 80%;
    height: 80vh;
    background: linear-gradient(90deg, #15ca61, #00E57A);
    margin: 0 auto;
    margin-top: 1%;
}

.logo{
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.logo p{
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: justify;
}